.idea/
/*/node_modules/
/*/main-gitignore.*
/*/.env
/Basic_authentication/.db_User.json
/Session_authentication/.db_User.json
/user_authentication_service/a.db
/user_authentication_service/a.db-journal
/unittests_in_js/8-api/node_modules/
